<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../imagenes/Logo.jpeg" type="image/png">
    <title>Agro CIN S.A</title>
</head>
<body>
    <!--HEADER-->
    <header>
        <h1>Agro CIN Servicios y Logistica S.A</h1>
    </header>

    <!--NAVEGACION-->
    <nav>
        <a href="home.html">Home</a>
        <a href="trasporte.html" target="_blank" >Trasporte</a>
        <a href="imagenesP.html" target="_blank">Imagenes</a>
        <a href="informacion.html" target="_blank" >Informacion</a>
        <a href="contacto.html" target="_blank">Contacto</a>
    </nav>

    <!--Contenido de la pagina-->
    <div class="fila">
        <aside>
            <h2 class="titulos">Quienes Somos?</h2>
            <p>
            	Bienvenidos a Agro CIN S.A, líderes en el transporte de cereales en grano. Desde nuestro inicio, nos hemos consolidado como una compañía comprometida con la excelencia y la eficiencia en el movimiento de cereales, siendo un eslabón fundamental en la cadena de suministro agrícola.
            </p>
            <p>
            	Nuestra empresa nació con la visión de contribuir al desarrollo sostenible del sector agroindustrial, brindando un servicio integral y confiable que garantice el traslado seguro y oportuno de cereales en grano a nivel nacional e internacional.	
        	</p>
            <img class="logo" src="../imagenes/Logo.jpeg" alt="logo">
        </aside>

        <section>
            <h2 class="titulos">Nos dedicamos a</h2>
            <p>Nos dedicamos apasionadamente al transporte de cereales en grano, conectando el campo con el mundo y asegurando que cada cosecha llegue a su destino de manera segura y eficiente. En [Nombre de la Empresa], somos especialistas en logística agroindustrial, y nuestra misión es impulsar el crecimiento de la industria agrícola mediante un servicio de transporte confiable y de calidad. </p>

			<p>Nuestra experiencia en el sector nos ha permitido entender las necesidades específicas de nuestros clientes, así como los desafíos que enfrenta la cadena de suministro de cereales. Es por eso que nos enorgullecemos de ofrecer soluciones a medida, diseñadas para optimizar el movimiento de cereales y garantizar la entrega puntual en cada trayecto. </p>

			<p>Contamos con una moderna flota de vehículos especialmente acondicionados para el transporte de cereales en grano. Nuestros camiones y remolques están equipados con tecnología de vanguardia que asegura la conservación de la calidad de los cereales durante todo el trayecto. Además, nuestro equipo de conductores altamente capacitados y comprometidos con la seguridad se encarga de manejar la carga con el mayor cuidado y responsabilidad.</p>
            <img src="../imagenes/camionTractor.jpeg" alt="">
        </section>
    </div>

    <!--Footer-->
    <footer>
        &copy: Mateo Varela, potrero digital
    </footer>
</body>
</html>