<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="../imagenes/Logo.jpeg" type="image/png">
	<link rel="stylesheet" href="../css/trasporte.css">
	<title>Trasporte Agro CIN S.A</title>
</head>
<body>
	 <!--HEADER-->
	<header>
		<h1>Nuestra Flota de Trasporte</h1>
	</header>

	<!--NAVEGACION-->
	<nav>
        <<a href="home.html">Home</a>
		<a href="../../index.html">Quienes Somos</a>
        <a href="imagenesP.html" target="_blank">Imagenes</a>
        <a href="informacion.html" target="_blank" >Informacion</a>
        <a href="contacto.html" target="_blank">Contacto</a>
    </nav>

    <!--Contenido de la pagina-->
	<div class="grid-container">
		<article>
			<p>En Agro CIN, la seguridad es nuestra principal prioridad. Nos enorgullecemos de ofrecer un servicio de transporte de mercancías altamente confiable y seguro para nuestros clientes. Nuestro compromiso con la seguridad abarca todos los aspectos de nuestra operación, desde la elección de los camiones hasta la capacitación de nuestros conductores.
			Además de nuestra seguridad, ofrecemos un seguro de carga integral que protege a nuestros clientes en caso de cualquier eventualidad. Esto proporciona tranquilidad adicional a nuestros clientes, ya que saben que su mercancía está protegida en todo momento.</p>
		</article>
		<div class="camion-scania">
			<img src="../imagenes/camion1.jpg" alt="">
			<h2>Mercedes 170 HP</h2>
		</div>
		<div>
			<img src="../imagenes/camion3.jpg"  class="camion2" alt="">
			<h2>Scania 330 HP</h2>
		</div>
		<div>
			<img src="../imagenes/camionTractor.jpeg" alt="" class="camionTractor">
			<h2>Mercedes 340 CV</h2>
		</div>
		<div>
			<img src="../imagenes/camion4.jpg" alt="">
			<h2>Mercedes 170 HP</h2>
		</div>
		<div>
			<img src="../imagenes/camion5.jpg" alt="">
			<h2>Volvo 175 CV</h2>
		</div>
		<div>
			<img src="../imagenes/camion6.jpg" alt="">
			<h2>Scania 330 HP</h2>
		</div>
		<div>
			<img src="../imagenes/camion7.jpeg" alt="">
			<h2>Iveco 299 CV</h2>
		</div>
		<div>
			<img src="../imagenes/camion8.jpg" alt="">
			<h2>Volvo 280 CV</h2>
		</div>

	</div>

	<!--Footer-->
	<footer>
        &copy: Mateo Varela, potrero digital
    </footer>
	
</body>
</html>