body {
  margin-top:0;
  padding:0;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;
  background:#112c38;
}

header{ 
  font-size: 40px;
  color: #16FF00;
  margin: 40px;
  padding: 0px;
}

ul{
  margin:0;
  padding:0;
  display:flex;
}

ul li{
  list-style:none;
  margin:0 20px;
  transition:0.5s;
}

ul li a{
  display: block;
  position:relative;
  text-decoration:none;
  padding:5px;
  font-size:18px;
  font-family: sans-serif;
  color:#fff;
  text-transform:uppercase;
  transition:0.5s;
}

ul:hover li a{
  transform:scale(1.5);
  opacity:0.2;
  filter:blur(5px);
}

ul li a:hover{
  transform:scale(2);
  opacity:1;
  filter:blur(0);
  text-decoration:none;
  color:#fff;
}

ul li a:before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#1A5D1A;
  transition:0.5s;
  transform-origin:right;
  transform:scaleX(0);
  z-index:-1;
}

ul li a:hover:before{
  transition:transform 0.5s;
  transform-origin:left;
  transform:scaleX(1);
}

nav{
  display: none;
}

@media (max-width: 740px) {
  ul{
    display: none;
  }

  body {
    margin-top: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    background:#112c38;
  }

  header{
    font-size: 30px;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

a {
    padding: 20px 24px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


a:hover{
    background-color: #1d3557;
    color: #0f0;
    }

}