@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');


*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/*Estilos Header */
header{
    padding: 50px;
    text-align: center;
    background-color: #112c38;
    color: #16FF00;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    height: 66vh;
}

h1{
    font-size: 6vh;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

/*Estilos Navegacion*/
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #112c38;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}

a {
    padding: 10px 24px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


a:hover{
    background-color: #fff;
    color: #000;
    }

/*Estilo contenido de la pagina */
.fila {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

aside {
    background-color: #112c38;
    padding: 20px;
    flex: 400px;
    color: #fff; 
    border-bottom: 2px solid #fff;  
}

.titulos {
    color: #16FF00;
}

.logo{
    max-height: 100%;
    max-width: 100%;
}

section {
    flex: 70%;
    background-color: #112c38;
    padding: 20px;
    color: #fff;
    border-bottom: 2px solid #fff;
}

p{
    margin: 10px;
}

img{
    max-height: 100%;
    max-width: 100%;
}

/*Estilo Footer */
footer{
    padding: 10px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

@media (min-width: 700px) {
    body {
        font-size: 20px;
    }

    /*Estilos para PC Navegacion */
    nav, .fila {
        flex-direction: row;
        display: flex;
        justify-content: center;
        padding: 0px;

    }

    a{
    padding: 10px 24px 2px 24px;
    margin: 2px;
    text-decoration: none;
    font-family: 'Borel', cursive;
    color: #fff;
    border-radius: 10px;
    }

    a:hover{
    background-color: #fff;
    color: #000;
    }

    /*Estilos PC Header */
    header{
        padding: 50px;
        text-align: center;
        background-color: #112c38;
        color: #16FF00;
        width: 100%;
    }

    h1{
    font-size: 10vh;
    }

    /*Estilos PC cotenido de la pagina */
    aside{
        border-right: 2px solid #fff;
    }

    /*Estilos PC Footer */
    footer {
        flex-direction: row;
        justify-content: center;
    }

    
}

